<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Mission to Mars</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
</head>

<body style="background-color:black;">
  <main class="container" style="background-color:white;">
    <div class="row">
      <div class="container-fluid">
        <div class="jumbotron text-center" style="background-color:lightgray;">
      <h1>Mission to Mars</h1>
      <a class="btn btn-primary btn-lg" type='submit' href="/scrape">Scrape New Data</a>
        </div>
      </div>

      <div class="container">
        <div class="row">
           <div class="col-md-12">
            <h2>Latest Mars News</h2>
              <h5> {{ mars.news_title }}</h5>
                <p> {{ mars.news_p }}</p>
            </div>
        </div>
      </div>
    
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h3>Featured Mars Image</h3>
            <img id="Fig1" src={{ mars.featured_image_url }} class="img-fluid" alt="Featured Image">
            <br>
          </div>
    
          <div class="col-md-4">
            <h3>Mars Facts</h3>   
              <div class="table">                            
                {{ mars.html_table | safe}} 
              </div>
          </div>  
        </div>
      </div>
    
    

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <br>
          <blockquote class="blockquote text-center">
          <h3 class="mb-0"> Mars Hemispheres</h3>
        </blockquote>
          <hr class="my-4">
      <div class="row">
        {% for hemisphere in mars.hem_image_url %}
        <div class="col-md-6">
   
        <img src="{{ hemisphere.img_url }}" class="img-fluid img-thumbnail" alt="..."/>
        <p>{{ hemisphere.title }}</p>
        </div>
        {% endfor %}
      </div>
    </div>
    
    

  </div>
  </div>
</main>
</body>

</html>
